<div id="lhome">
    <div id="login">
        <h2>Login</h2>

        <form autocomplete="on" name="formlogin" id="formlogin">
            <table border='0'>
                <tr>
                    <td>

                        <input required ng-model="flogin.usuario" type="text" id="usuario" name="usuario" placeholder="usuario" class="input__field input__field--chisato" dir="auto" maxlength="50" >
                        <label class="input__label input__label--chisato" for="usuario">
                          <span class="input__label-content input__label-content--chisato" data-content="Name"></span>
                        </label>
                        <span class="text-danger" ng-show="formlogin.usuario.$error.required && (formlogin.usuario.$dirty || formlogin.usuario.$touched)">The name is required</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="flogin.usuario_error">{{error_usuario}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input required ng-model="flogin.passw" type="password" id="passw" name="passw" placeholder="*****" class="input__field input__field--chisato" dir="auto" maxlength="50" >
                        <label class="input__label input__label--chisato" for="passw">
                          <span class="input__label-content input__label-content--chisato" data-content="Name"></span>
                        </label>
                        <span class="text-danger" ng-show="formlogin.passw.$error.required && (formlogin.passw.$dirty || formlogin.passw.$touched)">The password is required</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="flogin.passw_error">{{error_passw}}</span>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>

            <input name="loginb" class="Button_gray_login" id="loginb" type="button" value="Login" ng-click="login()"/>
            <a class="Button_gray_login" href="#/register">Registrarse</a>  
            <a class="Button_gray_login" href="#/home">Volver</a>
            <a id="lrecover" class="Button_gray_login" href="#recover">Recover Pass</a>
        </form>
        <div class="social">
            <ul class="icons log">
                <tr>
                    <a class="fa fa-facebook" id="fblogin" ng-click="facebook()"><span class="label">Facebook</span></a>
                </tr>

                <tr>
                    <a class="fa fa-twitter" id="twlogin" ng-click="twitter()"><span class="label">Twitter</span></a>
                </tr>
                <tr>
                    <a class="fa fa-google-plus-square" id="glogin" ng-click="google()"><span class="label">Google</span></a>
                </tr>
            </ul>
        </div> 
    </div>
</div>