<div id="profile">
  <div ng-show="profiledivform">
    <form id="profile_form" name="profile_form" class="form-perfil">
        <div id="contenido" class="row">
              <div class="control-group">
                <br>
                <h1 class="form-profile-heading" id="username">{{user.usuario}}</h1>
              </div>
              <div class="control-group">
                  <label class="nombre pefil">Nombre:</label>
                  <p>
                      <input type="text" required id="inputName"  ng-value='user.nombre' ng-model="profile.nombre" name="inputName" placeholder="Nombre" ng-pattern="/^\D{3,30}$/" class="form-control" dir="auto" ng-minlength="2" maxlength="100" ng-change="change_profile()">
                      <span class='error' ng-show="!profile_form.inputName.$valid && profile_form.inputName.$error.required && (profile_form.inputName.$dirty || profile_form.inputName.$touched)" >Nombre no válido</span>
                      <span class="text-danger" ng-show="profile_form.inputName.$error.pattern">Nombre no válido</span><br />
                      <span class="text-danger" ng-show="AlertMessage" ng-model="profile.nombre_error">{{profile.nombre_error}}</span>
                  </p>
              </div>
              <div class="control-group">
                  <label class="pefil">Apellidos:</label>
                  <p>
                      <input type="text" required ng-minlength="3" id="inputSurn" ng-model="profile.apellidos" name="inputSurn" ng-pattern="/^\D{4,120}$/" placeholder="Apellidos" class="form-control" dir="auto" maxlength="100" ng-change="change_profile()" ng-value='user.apellidos'>
                      <span class='error' ng-show="!profile_form.inputSurn.$valid && profile_form.inputSurn.$error.required && (profile_form.inputSurn.$dirty || profile_form.inputSurn.$touched)" >Ingrese sus apellidos</span>
                      <span class="text-danger" ng-show="profile_form.inputSurn.$error.pattern">Apellidos no válidos</span><br />
                      <span class="text-danger" ng-show="AlertMessage" ng-model="profile.surn_error">{{profile.surn_error}}</span>
                  </p>
              </div>

               <div class="control-group">
                <label class="dni pefil">Dni:</label>
                <p>
                    <input required type="text"
                    id="inputDni" ng-model="profile.dni" name="inputDni" ng-value='user.dni' placeholder="Dni" class="form-control">
                    <span class='error' ng-show="!profile_form.inputDni.$valid && profile_form.inputDni.$error.required && (profile_form.inputDni.$dirty || profile_form.inputDni.$touched)" >Dni no válido</span>
                    <span class="text-danger" ng-show="profile_form.inputDni.$error.dni">Dni no valido</span>
                    <span class="text-danger" ng-show="AlertMessage" ng-model="profile.dni_error">{{profile.dni_error}}</span>
                </p>
              </div>
              <br>
              <div class="control-group">
                <label class="pefil">Fecha de nacimiento:</label>
                <p>
                    <input required type="text"
                    id="inputdate_birthday" readonly ng-model="profile.date_birthday" calendar="" name="inputdate_birthday" ng-value='user.date_birthday' placeholder="XX-XX-XXXX" class="form-control">
                    <span class='error' ng-show="!profile_form.inputdate_birthday.$valid && profile_form.inputdate_birthday.$error.required && (profile_form.inputdate_birthday.$dirty || profile_form.inputdate_birthday.$touched)" >Fecha no válido</span>
                    <span class="text-danger" ng-show="profile_form.inputdate_birthday.$error.date_birthday">Fecha no valida</span>
                </p>
              </div>
              <br>

              <div class="control-group">
                  <label class="pefil">Comunidad:</label>
                  <p>
                      <select name="comunidad" class="form-control" ng-value='user.comunidad' ng-model="profile.comunidad" ng-options="item.slug for item in comunidades" placeholder="Pais" id="comunidad" ng-change="reset_comunidades()">
                        <option value="">Seleccione una comunidad</option>

                      </select>
                  </p>
              </div>
              <br>
              <div class="control-group">
                  <label class="pefil">Provincia:</label>
                  <p>
                      <select name="provincia" class="form-control" id="provincia" ng-value='user.provincia'  ng-options="item.slug for item in provincias"
                      ng-model="profile.provincia" placeholder="Provincia" ng-change="reset_provincia()">
                        <option value="">Seleccione una provincia</option>
                      </select>
                  </p>
              </div>
              <br>
              <div class="control-group">
                  <label class="pefil">Poblacion:</label>
                  <p>
                      <select type="text" class="form-control" ng-value='user.poblacion' name="city" ng-model="profile.city"
                      ng-options="item.slug for item in city " placeholder="Poblacion" id="city">
                          <option value="">Seleccione una poblacion</option>
                      </select>
                  </p>
              </div>
              <br>

              <div ng-show="avatar" ng-model="avatar">
                <img  width="50px" height="50px" src="{{user.avatar}}">
              </div>
              <div class="msg" ></div>
              <br/>
              <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>

              <p>
                  <input class="button" type="button" ng-click="submit()" name="submit" id="submitBtn_user" value="Guardar"
                  />
                  <input class="button" type="button" ng-click="volver()" value="Volver"/>
              </p>
        </div>
    </form>
  </div>
  <div id="rating" ng-show="ratingdiv">
        <fieldset>
        <legend>Rating</legend>
            <div style="width: 100%; height: 250px; overflow-y: scroll;">
                <div ng-repeat="rating in ratings">
                    <p>{{rating.prodname}} en la provincia de {{rating.province}} en la ciudad de {{rating.city}} con el precio de {{rating.prodprice}}€ en una puntuacion de {{rating.rating}}</p>
                </div>
            </div>
        </fieldset>
        <input class="button" type="button" ng-click="volver()" value="Volver"/>
  </div>
  <button class="pbut" ng-click="perfil()" ng-show="button">PERFIL</button>
  <button class="pbut" ng-click="likes()" ng-show="button">LIKES</button>
  <button class="pbut" ng-click="rating()" ng-show="button">RATING</button>
</div>