<div id="lhome">
    <div id="login">
        <h2>Recover</h2>

        <form method="post" autocomplete="on" name="recoverpassform" id="recoverpassform">
            <table border='0'>
                <tr>
                    <td>
                        <input required ng-model="frecover_pass.passw" type="password" id="passw" name="passw" placeholder="*****" class="input__field input__field--chisato" dir="auto" maxlength="50" >
                        <label class="input__label input__label--chisato" for="passw">
                          <span class="input__label-content input__label-content--chisato" data-content="Name"></span>
                        </label>
                        <span class="text-danger" ng-show="recoverpassform.passw.$error.required && (recoverpassform.passw.$dirty || recoverpassform.passw.$touched)">The password is required</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="frecover_pass.passw_error">{{error_rpassw1}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input required ng-model="frecover_pass.passw2" type="password" id="passw2" name="passw2" placeholder="*****" class="input__field input__field--chisato" dir="auto" maxlength="50" >
                        <label class="input__label input__label--chisato" for="passw">
                          <span class="input__label-content input__label-content--chisato" data-content="Name"></span>
                        </label>
                        <span class="text-danger" ng-show="recoverpassform.passw.$error.required && (recoverpassform.passw.$dirty || recoverpassform.passw.$touched)">The password is required</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="frecover_pass.passw2_error">{{error_rpassw2}}</span>                    
                    </td>
                </tr>
            </table>

            <input name="recoverpassb" class="Button_gray_register" id="recoverpassb" type="button" value="Recover" ng-click="recover_pass()"/>
            <a class="Button_gray_register" href="#/login">Volver</a>
        </form>
    </div>
</div>