<div id="lhome">
    <div id="login">
        <h2>Recover</h2>

        <form autocomplete="on" name="recoverform" id="recoverform">
            <table border='0'>
                <tr>
                    <td>
                        <input required ng-model="frecover.email" type="email" id="email" name="email"
                        placeholder="Email" class="input-block-level" maxlength="50"
                        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="change_signup()">
                        <span class="text-danger" ng-show="recoverform.email.$error.required && (recoverform.email.$dirty || recoverform.email.$touched)">Tiene que escribir el email</span>
                        <span class="text-danger" ng-show="recoverform.email.$error.email">Email no valido</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="frecover.email_error">{{error_email}}</span>
                    </td>
                </tr>
            </table>

            <input name="recoverb" class="Button_gray_register" id="recoverb" type="button" value="Recover" ng-click="recover()"/>
            <a class="Button_gray_register" href="#/login">Volver</a>
        </form>
    </div>
</div>