<div id="lhome">
    <div id="register">
        <h2>Register</h2>

        <form method="post" autocomplete="on" name="register_user" id="register_user">
            <table border='0'>
                <tr>
                    <td>
                        <h4>Nombre Usuario</h4>
                        <input required ng-model="fregister.usuario" type="text" id="usuario" name="usuario" placeholder="nombre/usuario" class="input__field input__field--chisato" dir="auto" maxlength="50" >
                        <label class="input__label input__label--chisato" for="usuario">
                          <span class="input__label-content input__label-content--chisato" data-content="Name"></span>
                        </label>
                        <span class="text-danger" ng-show="register_user.usuario.$error.required && (register_user.usuario.$dirty || register_user.usuario.$touched)">Tiene que escribir el nombre</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="fregister.usuario_error">{{error_rusuario}}</span>

                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <h4>Introduce email</h4>

                        <input required ng-model="fregister.email" type="email" id="email" name="email"
                        placeholder="Email" class="input-block-level" maxlength="50"
                        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" ng-change="change_signup()">
                        <span class="text-danger" ng-show="register_user.email.$error.required && (register_user.email.$dirty || register_user.email.$touched)">Tiene que escribir el email</span>
                        <span class="text-danger" ng-show="register_user.email.$error.email">Email no valido</span>
                        <span class="text-danger" ng-show="AlertMessage" ng-model="fregister.email_error">{{error_email}}</span>

                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <h4>Contraseña</h4>

                        <input required ng-model="fregister.passw1" type="password" id="passw1" name="passw1" ng-pattern="/^.{6,12}$/"
                        placeholder="******" class="input-block-level" dir="auto" maxlength="100" ng-change="change_signup()">
                        <span class="text-danger" ng-show="register_user.passw1.$error.required && (register_user.passw1.$dirty || register_user.passw1.$touched)">Tiene que escribir una contraseña</span>
                        <span class="text-danger" ng-show="register_user.passw1.$error.pattern">Contraseña no válida</span><br />
                        <span class="text-danger" ng-show="AlertMessage" ng-model="fregister.pass_error">{{error_passw1}}</span>
                    </td>

                </tr>
            </table>
            <input name="registerb" class="Button_gray_register" id="registerb" type="button" value="Register" ng-click="register()"/>
            <a class="Button_gray_register" href="#/login">Volver</a>
        </form>
    </div>
</div>