<section id="home" class="text-center">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="backend/view/img/1.jpg" alt="" />
                    <div class="carousel-caption" >
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="backend/view/img/2.jpg" alt="" />
                    <div class="carousel-caption ">
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
                <div class="item">
                    <img src="backend/view/img/3.jpg" alt="" />
                    <div class="carousel-caption ">
                        <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>
        </div>
</section>

<div id="homebody">
  <div id="haentry">
    <input id="entry" ng-model="key" ng-keyup="complete(key)"></input>
    <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
        <li class="list-group-item" ng-repeat="data in filterEntrada" ng-click="fillTextbox(data)">{{data}}</li>
    </ul>
    <button id="hbutton" ng-model="hbutton" ng-click="search()">Search</button>
  </div>


  <div id="hcategory">
        <div class="of"  ng-repeat="of in provinces" id="{{of.slug}}">
            <div class="hcat" ng-click="hcatclick(of.slug)">
                <p>{{of.slug}}</p>
            </div>
        </div>
    
  </div>

  <div>
    <button id="hlmbutton" ng-click="loadMore()"><span class="fa fa-plus not-loading"></span>
</button>
    <p>Load More</p>
  </div>
</div>