<div id="hlbody" ng-show="hlbody">

    <div id="hlaentry">
		<input id="lentry" ng-model="lentry"></input>
    </div>

    <center id="hlresults">
        <div class="of"  ng-repeat="of in eventsprinted | filter:lentry" id="{{of.slug}}">
            <div class="hlres" ng-click="hcatclick(of)">
                <h3>{{of.prodname}}</h3>
                {{of.prodprice}}€ en la provincia de {{of.province}} 
            </div>
        </div>
    </center>

    <div id="pager">
        <uib-pagination class="pagination-sm pagination" total-items="events.length" ng-model="currentPage"
        ng-change="changePage()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></uib-pagination>        
    </div>
</div>

<div id="details" ng-show="detail">
    <div id="detailsbody">
        <div id="img_prod" class="prodImg"><img style="height: 150px; width:  150px;" src="{{event.prodpic}}"/>
        </div> 
        
        <div id="container">
            <h4> <strong><div id="name_prod">Evento: {{event.prodname}}</div></strong> </h4>

            <div id="description_prod">Descr: {{event.proddesc}}</div>

            <div id="date_reception">Fecha de comienzo: {{event.date_reception}}</div>

            <div id="date_expiration">Fecha final del evento: {{event.date_expiration}}</div>

            <h2> <strong><div id="price_prod"></div>Precio: {{event.prodprice}}€</strong> </h2>
            <h2> <strong><div id="lcity">En la ciudad: {{event.city}}</div></strong></h2> 
            <span class="fa fa-star" ng-click="estrellas(1)"></span>
            <span class="fa fa-star" ng-click="estrellas(2)"></span>
            <span class="fa fa-star" ng-click="estrellas(3)"></span>
            <span class="fa fa-star" ng-click="estrellas(4)"></span>
            <span class="fa fa-star" ng-click="estrellas(5)"></span>
            <div ng-repeat="rating in hrating" id="{{comment.prodref}}">
                <p>puntuacion {{rating.puntuacion}}, opiniones({{rating.opiniones}})</p>            
            </div>
            <button class="button" ng-click="back()">Volver</button>
            <button class="button" ng-click="hlike()">Like</button>  
        </div>
    </div>
    <div id="comments">
        <fieldset>
        <legend>Comentarios</legend>
            <div style="width: 100%; height: 250px; overflow-y: scroll;">
                <div ng-repeat="comment in eventcomment" id="{{comment.prodref}}">
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        </fieldset>
        <div>
            <textarea rows="4" cols="35" ng-model="sendnewcoment"></textarea>
            <button class="button" ng-model="sendcoment" ng-click="newcoment()">Send</button>
        </div>
    </div>
</div>

<div id="map"  ng-show="mapholderV"></div>