<div ng-controller="menuCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LOGO</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul id="menu" class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#/home" ng-show="mhome">HOME</a></li>
                    <li>
                      <a href="#/home_list" ng-show="mshop">SHOP</a></li>
                    <li>
                      <a id="mproducts" href="#/products" ng-show="mproducts">PRODUCTS</a></li>
                    <li>
                      <a href="#/contact" ng-show="mcontact">CONTACT</a></li>
                    <li>
                      <a id="mlbutton" href="#/login" ng-show="mlogin">LOGIN</a></li>
                    <li id='limuser' ng-show="mprofile">
                      <a id="muser" href="#/profile">
                          <img style='margin-top: -10px' width='30px' height='30px' src='{{avatar}}'></img>
                      </a></li>
                    <li>
                      <a href="#/home" ng-click="logout()" ng-show="mlogout">LOGOUT</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>